<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <a href="/usuarios/nuevo">Agregar nuevo usuario</a>
    <h1>Buscar Usuarios</h1>
    <form action="/usuarios/buscar" method="get">
        <label for="nombre">Buscar por Nombre:</label>
        <input type="text" id="nombre" name="nombre"/>
        <button type="submit">Buscar</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Edad</th>
                <th>Altura</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.apellidos}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.edad}"></td>
                <td th:text="${usuario.altura}"></td>
                <td>
                    <a th:href="@{/usuarios/editar/{id}(id=${usuario.id})}">Editar</a>
                    <a th:href="@{/usuarios/eliminar/{id}(id=${usuario.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>